@charset "UTF-8";

html{
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Oxygen Mono";
}

.clearfix:after, row:after{
    content: '';
    display: block;
    clear: both;
}

.maxwidth{
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    display: inline-block;
    padding: .9em 2.5em;
    background-color: #58c4c4;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.button:hover{
    background-color: #37a0a0;
}

.icon-play{
    height: 5em;
    display: none;
}

.icon-play img{
    max-width: 100%;
    max-height: 100%;
}

.top_header_logo{
    margin: .5em;
}

.top_header{
    text-align: center;
}

.top_nav{
    background-color: #612674;
    text-align: center;
}

.top_nav ul{
    margin: 0;
    padding: 1em 0;
    list-style: none;
}

.top_nav a{
    color: white;
    text-decoration: none;
    padding: 1em; /* =16px */
    display: block;
}

.top_nav a:hover{
    background-color: #7c3792;
}

.top_content{
    padding: 1em;
    text-align: center;
    background-color: #f6f6f6;
}

.top_content_title{
    color: #612674;
    font-size: 1.375em; /* 22/16=1.375 */
    margin: 1.375em;
}

.top_content_subtitle{
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.5;
}

.middle_content{
    padding: 2em;
    background-color: #f6f6f6;
    text-align: center;
}

.middle_content_title{
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
}

.middle_content p{
    line-height: 1.5;
    color: #222;
}

/* edição dos ícones */
.middle_content span[class^=icon]{
    font-size: 3em;
    color: #652e78;
}

.main_content{
    padding: 2em;
}

.main_content_article{
    margin-bottom: 3.5em;
}

.main_content_title{
    letter-spacing: .2em;
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
    font-weight: normal;
}

.main_content p{
    line-height: 1.2;
}

.footer{
    background-color: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
}

.footer_menushare{
    background-color: #303d4c;
    padding: .5em;
}

.footer_menushare li{
    display: inline-block;
    margin: 0 1em;
}

.footer_menushare a{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

/* edição final dos ícones */
.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

/* 780/16=48,75 */
@media screen and (min-width: 48.75em){

    .top_header_logo{
        float: left;
    }

    .icon-play{
        display: block;
    }

    .top_nav{
        background-color: transparent;
        float: right;
        margin-top: 25px;
    }

    .top_nav ul{
        margin: 0;
        padding: 0;
    }

    .top_nav li{
        display: inline-block;
    }

    .top_nav a{
        color: #713a84;
    }

    .top_nav a:hover{
        background-color: #e7d9fc;
    }

    .top_content{
        background-color: #521a66;
    }

    .top_content_title, .top_content_subtitle{
        color: white;
    }

    /* divisão feita p 4 colunas dos icons */
    .col-1_4{
        width: 44%;
        margin: 3%;
        float: left;
    }

    .main_content_article .button{
        float: right;
    }
}

/* 1000/16=62.5 */
@media screen and (min-width: 62.5em){
    .top_content{
        /* background-color: #521a66;
        background-image: url(../Imagens/bg_topo_1198x670.jpg); */

        background: #521a66 url(../Imagens/bg_topo_1198x670.jpg);
        height: 20em;
        padding-top: 17em;
    }
}

/* 1024/16=64 */
@media screen and (min-width: 74em){
    .top_content{
        background-image: url(../Imagens/bg_topo_1600x1374.jpg);
        padding: 19em 20em 10em;
        background-position: center top;
    }

    .icon-play{
        height: 7em;
    }

    /* divisão final das 4 colunas dos icons */
    .col-1_4{
        width: 23%;
        margin: 1%;
    }

    /* divisão das 4 colunas sem icons */
    /* .col-1_2{
        width: 48%;
        margin: 1%;
        float: left;
    } */

    .main_content_article .button{
        float: none;
    }
}

/* correção da imagem do topo */
@media screen and (min-width: 1600px){
    .top_content{
        background-color: #a87bb7;
        background-position: center top;
        background-image: url();
    }
}